<h3>Essay Simulation</h3>
<div class="text-center">
  <!--<p>Pick your simulation</p>-->
  <div class="btn-group">
    <!--<%#= button_to "Upload for Grader", essay_sim_path(@user), :class => "btn btn-lg btn-default", :method => :get %>-->
    <%= button_to "Full Simulation", 'full_sim', :class => "btn btn-lg btn-default", :method => :get %>
  </div>
</div>