<h3>Essay Simulation</h3>
<div class="text-center">
  <p>Pick your simulation</p>
  <div class="btn-group">
    <%= button_to "Upload for Grader", essay_sim_path(@user), :class => "btn btn-lg btn-default", :method => :get %>
    <%#= link_to "other", essay_sim_path('full_sim') %>
  </div>
</div>