<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
  <script src="http://malsup.github.com/jquery.form.js"></script> 
</head>
<body>
  <div class="text-center">
      <div id="flashcardSetContainer" class="form-group center-block">
      
        <div>
        </div>
        <input type="text" id="set_name" class="form-control" placeholder="Title" autofocus>
    
        <div id="savedCards"></div>
    
        <label id="cardNumber">Enter your word and definition</label><br>
        <input type="text" id="frontOfCard" class="form-control" placeholder="front">
        <input type="text" id="backOfCard" class="form-control" placeholder="back" onkeydown = "if (event.keyCode == 13) document.getElementById('addCardBtn').click()">
      </div>
  
    
      <button id="addCardBtn" class="btn btn-default" onclick="flashcardHandler.cardAdd()" >Add</button>
    
      <button type="submit" class="btn btn-default" onclick="flashcardHandler.cardStoreSetAJAX()">Create!</button>
      <div id="displaySet"></div>
    
      <h1><%= link_to 'Practice Flashcards', practice_flashcards_path, :class => 'button center' %></h1>
      <h1><%= link_to 'Flashcard Sets', 'flashcard', :class => 'button center' %></h1>
      <div id="invisibleForm"></div>
  </div>
  
<script type="text/javascript">
  function Card(front, back)
  {
    this.frontVal = front;
    this.backVal = back;
      
    this.display = function(side)
    {
      if( side === 0 ) return this.frontVal;
      else return this.backVal;
    };
  }

  var flashcardHandler =
  {
    flashcardSet: [],
  	fcContainer: document.getElementById("savedCards"),
    cardIndex: 1,

    // FOR TESTING
    cardSeeSet: function()
    {
      var displaySet = document.getElementById("displaySet");
      displaySet.innerHTML = "";
      for (var i = 0; i < this.flashcardSet.length; i++)
      {
        displaySet.innerHTML = displaySet.innerHTML + '<span id="listCardFront' + this.cardIndex + '">'+i+this.flashcardSet[i].display(0)+'</span> \
                                    <span id="listCardBack'+ this.cardIndex +'">' + this.flashcardSet[i].display(1) + '</span><hr>';
                                    
      }
    },

    cardAdd: function()
    {
      // get the 2 words
   	  var front = document.getElementById("frontOfCard");
      var back = document.getElementById("backOfCard");
      // store in set
      this.flashcardSet.push(new Card(front.value, back.value));
       	  
      this.fcContainer.innerHTML = this.fcContainer.innerHTML + '<li id="cardNumber'+this.cardIndex+'"> \
                                        <label>' + this.cardIndex + ' </label> \
                                        <span id="frontOfCard' + this.cardIndex + '">'+this.flashcardSet[this.cardIndex-1].display(0)+'</span> \
                                        <span id="backOfCard'+ this.cardIndex +'">' + this.flashcardSet[this.cardIndex-1].display(1) + '</span> \
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="flashcardHandler.cardRemove('+this.cardIndex+')"></span> \
                                      </li><hr>';
      window.scrollTo(0, document.body.scrollHeight);
      this.cardIndex += 1;
      document.getElementById("frontOfCard").focus();
    },
     
    cardRemove: function(index)
    {
      var child = document.getElementById("cardNumber" + index);
      child.remove();
      var setIndex = index-1;
      this.flashcardSet.splice(setIndex, 1);
    },
    
    cardStoreSet: function()
    {
      for (var i = 0; i < this.flashcardSet.length; i++)
      {
        var postFlashcard = '<form id="createFlashcardSet'+i+'" action="/flashcard" method="post" data-remote="true"> \
                              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> \
                              <input id="inp_set_name_'+i+'" type="text" name="flashcard[set_name]" value="'+document.getElementById("set_name").value+'"> \
                              <input id="inp_word_'+i+'" type="text" name="flashcard[word]" value="'+this.flashcardSet[i].display(0)+'"> \
                              <input id="inp_definition_'+i+'" type="text" name="flashcard[definition]" value="'+this.flashcardSet[i].display(1)+'"> \
                            </form>';
        
        document.getElementById("invisibleForm").innerHTML += postFlashcard;
        document.getElementById("createFlashcardSet" + i).submit();
        //document.getElementById("createFlashcardSet").remove();
      }
      
      alert("Done!");
    },
    
    // post using AJAX to prevent form from loading action URL. 
    // AJAX will allow for asynchronous submits
    cardStoreSetAJAX: function()
    {
      for (var i = 0; i < this.flashcardSet.length; i++)
      {
        var postFlashcard = '<form id="createFlashcardSet'+i+'" action="/flashcard" method="post" data-remote="true"> \
                              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> \
                              <input id="inp_set_name_'+i+'" type="text" name="flashcard[set_name]" value="'+document.getElementById("set_name").value+'"> \
                              <input id="inp_word_'+i+'" type="text" name="flashcard[word]" value="'+this.flashcardSet[i].display(0)+'"> \
                              <input id="inp_definition_'+i+'" type="text" name="flashcard[definition]" value="'+this.flashcardSet[i].display(1)+'"> \
                            </form>';
        
        document.getElementById("invisibleForm").innerHTML += postFlashcard;                    
        var dataString = 'flashcard[set_name]=' + document.getElementById("set_name").value + '&flashcard[word]=' + this.flashcardSet[i].display(0) + '&flashcard[definition]=' + this.flashcardSet[i].display(1);
        
        
        $.ajax({
          type: "POST",
          url: "/flashcard",
          data: dataString,
          success: document.getElementById("createFlashcardSet" + i).remove()
        });
      }
      alert("Done!");
    }
    
  }
</script>

</body>