<head>
  <title>Create Flashcards</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
    #flashcardSetContainer
    {
      width: 600px;
    }
  </style>
  
</head>
<body>
  <div class="text-center">
    <div id="flashcardSetContainer" class="form-group center-block">
      <input type="text" class="form-control" placeholder="Title" autofocus></input>
      
      <hr>
      
      <li>
        <label id="cardNumber">1</label>
        <input type="text" id="frontOfCard1" class="form-control" placeholder="front"></input>
        <input type="text" id="backOfCard1" class="form-control" placeholder="back"></input>
      </li>
    </div>
    
    <button class="btn btn-default" onclick="flashcardHandler.cardAdd();">Add</button>
    <button type="submit" class="btn btn-default">Create!</button>
    
    <h1><%= link_to 'Practice Flashcards', practice_flashcards_path, :class => 'button center' %></h1>
  </div>

  <script>
    function Card(front, back)
    {
      this.frontText = front;
      this.backText = back;
    }
  
    var flashcardHandler =
    {
      flashcardSet: [],
      cardIndex: 1,
      cardNumber: document.getElementById("cardNumber"),
      fcContainer: document.getElementById("flashcardSetContainer"),
       
      cardAdd: function()
      {
       	var front = document.getElementById("frontOfCard" + this.cardIndex);
        var back = document.getElementById("backOfCard" + this.cardIndex);
        this.flashcardSet.push(new Card(front.value, back.value));
        this.cardIndex += 1;
        this.fcContainer.innerHTML += '<li> \
                                        <label>' + this.cardIndex + '</label> \
                                        <input type="text" id="frontOfCard' + this.cardIndex + '" class="form-control col-lg-6" placeholder="front"></input> \
                                        <input type="text" id="backOfCard'+ this.cardIndex +'" class="form-control" placeholder="back"></input> \
                                      </li>';
                                      
        window.scrollTo(0, document.body.scrollHeight);
      },
       
      cardRemove: function()
      {
         
      }
       
    }
  </script>
</body>
