<!DOCTYPE html>
<head>
    <title>GL: Flash Cards</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
    <h1 class="text-center">German Vocabulary</h1>
    
    <div id="newCards" class="text-center">
            Front:<input type="text" id="newFront" name="front"/>
            Back: <input type="text" id="newBack" name="back"/>
            <input value="Add" type="button" onclick="userEnter();"/>
    </div>

    <div id="cardButton" class="center-block text-center"><p id="cardText"></p></div>

    <p>
        <center>
            <input type="button" id="prevCard" value="previous" onclick="flashCardHandler.cardMove(-1);"/>
            <span id="positionIndex">0/0</span>
            <input type="button" id="nextCard" value="next" onclick="flashCardHandler.cardMove(1);"/>
        </center>
    </p>

    <script> 
        // handle empty strings
        String.prototype.isEmpty = function() {
            return (this.length === 0 || !this.trim());
        };

        function Card(front, back){
            this.frontVal = front;
            this.backVal = back;

            this.display = function(side){
                if( side === 0 ){
                    return this.frontVal;
                }else{
                    return this.backVal;
                }
            };
        }
        
        // basically a class to handle flashcards
        var flashCardHandler = {
            flashCardSet: [],
            cardIndex: 0,
            cardButton: document.getElementById("cardButton"),
            cardText: document.getElementById("cardText"),
            cardPosition: document.getElementById("positionIndex"),
            cardSide: 0,

            // new card
            cardAdd: function(back, front){
                this.flashCardSet.push( new Card(back, front) );
            },
            // 
            cardUpdate: function(){
                var curCard = this.flashCardSet[ this.cardIndex ];
                this.cardText.innerHTML = curCard.display( this.cardSide );
                this.cardPosition.innerHTML = (this.cardIndex + 1) + "/" + this.flashCardSet.length;
            },
            cardFlip: function(){
                this.cardSide = (this.cardSide + 1) % 2;
            },
            cardMove: function(moveBy){
                this.cardIndex += moveBy;
                if( this. cardIndex < 0 ){
                    this.cardIndex += this.flashCardSet.length;
                }
                this.cardIndex = this.cardIndex % this.flashCardSet.length;

                this.cardSide = 0;// Set back to front
                this.cardUpdate();
            },
            cardTap: function(){
                this.cardFlip();
                this.cardUpdate();// Display card
            }
        };

        flashCardHandler.cardAdd("Hello","Guten Tag");
        flashCardHandler.cardAdd("Goodbye","Ciao");
        flashCardHandler.cardAdd("Good Night","Gute Nacht");
        flashCardHandler.cardUpdate();

        var userEnter = function(){
            var nFront = document.getElementById("newFront"),
                nBack = document.getElementById("newBack");

            if( nFront.value.isEmpty() || nBack.value.isEmpty() )
                return;

            flashCardHandler.cardAdd(nFront.value,nBack.value);
            nFront.value="";
            nBack.value="";
            flashCardHandler.cardUpdate();
        }

        flashCardHandler.cardButton.addEventListener('click', function(){ flashCardHandler.cardTap();} );

    </script>

</body>