<div class="container">
  <div class="row">
    <h3>Flashcard Sets</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @allFlashcards.each do |set| %>
            <tr>
              <td><%= set.id %></td>
              <td><%= link_to set.set_name, flashcard_path(set, :set_name => set.set_name ) %></td>
              <td><%= set.word %></td>
              <td><%= set.definition %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
