<h3>Flashcards</h3>
<div class="container text-left">
  <h4 class="text-left">Flashcard Sets</h4>
  <div class="row text-left">
    <div class="column text-left">
      <table class="table text-left">
        <tbody>
          <% @allFlashcards.each do |set| %>
            <tr>
              <td><%= set.id %></td>
              <td><%= link_to set.set_name, flashcard_path(set, :set_name => set.set_name ) %></td>
              <td><%= set.word %></td>
              <td><%= set.definition %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
