<div>
  <select id="ddCategory" onchange="categorySelected(this.value)">
    <option>Cultural Diversity</option>
    <option>Customs and Tradition</option>
    <option>Health</option>
    <option>Leisure</option>
    <option>Science and Technology</option>
  </select>
</div>