<p>1. The 16th century was an age of great ______ exploration.</p>

<input type="radio" name="q1"value="a">A. cosmic<br>
<input type="radio" name="q1"value="b">B. land <br>
<input type="radio" name="q1"value="c">C. mental <br>
<input type="radio" name="q1"value="d">D. common man<br> 
<input type="radio" name="q1"value="a">E. None of the above<hr>

<p>2. Magellan lost the favor of the king of Portugal when he became involved in a political ________.</p>

<input type="radio" name="q2"value="a">A. entanglement<br> 
<input type="radio" name="q2"value="b">B. discussion<br> 
<input type="radio" name="q2"value="c">C. negotiation<br> 
<input type="radio" name="q2"value="d">D. problem<br> 
<input type="radio" name="q2"value="e">E. None of the above<hr>

<p>3. The Pope divided New World lands between Spain and Portugal according to their location on one side or the other of an imaginary geographical line 50 degrees west of Greenwich that extends in a _________ direction.</p>

<input type="radio" name="q3"value="a">A. north and south<br> 
<input type="radio" name="q3"value="b">B. crosswise<br> 
<input type="radio" name="q3"value="c">C. easterly<br> 
<input type="radio" name="q3"value="d">D. south east<br> 
<input type="radio" name="q3"value="e">E. north and west<hr>

<p>4. One of Magellan's ships explored the _________ of South America for a passage across the continent.</p>

<input type="radio" name="q4"value="a">A. coastline<br> 
<input type="radio" name="q4"value="b">B. mountain range <br>
<input type="radio" name="q4"value="c">C. physical features<br> 
<input type="radio" name="q4"value="d">D. islands<br> 
<input type="radio" name="q4"value="e">E. None of the above<hr>

<p>5. Four of the ships sought a passage along a southern ______.</p>

<input type="radio" name="q5"value="a">A. coast<br> 
<input type="radio" name="q5"value="b">B. inland<br> 
<input type="radio" name="q5"value="c">C. body of land with water on three sides <br>
<input type="radio" name="q5"value="d">D. border<br> 
<input type="radio" name="q5"value="e">E. Answer not available<hr>

<p>6. The passage was found near 50 degrees S of ________.</p>

<input type="radio" name="q6"value="a">A. Greenwich<br> 
<input type="radio" name="q6"value="b">B. The equator<br> 
<input type="radio" name="q6"value="c">C. Spain<br> 
<input type="radio" name="q6"value="d">D. Portugal<br> 
<input type="radio" name="q6"value="e">E. Madrid<hr>

<p>7. In the spring of 1521, the ships crossed the _______ now called the International Date Line.</p>

<input type="radio" name="q7"value="a">A. imaginary circle passing through the poles <br>
<input type="radio" name="q7"value="b">B. imaginary line parallel to the equator <br>
<input type="radio" name="q7"value="c">C. area<br> 
<input type="radio" name="q7"value="d">D. land mass <br>
<input type="radio" name="q7"value="e">E. Answer not available<br>

<input type="submit">