<head>
  <style>
    .articleText
    {
      width: 60%;
      height: 100%;
      font-size: 20px;
      float: left;
      overflow: auto;
    }
    .articleQuestions
    {
      width: 40%;
      height: 100%;
      float: left;
      overflow: auto;
    }
    
  </style>
</head>

<h3>This is the article_questioning_create_path</h3>
<div class="articleText text-left">
  <p><%= render 'article_questioning/article_text' %></p>
</div>
<div class="articleQuestions">
  <%= render 'article_questioning/quiz_answers' %>
</div>