<head>
  <style>
    .essayText
    {
      width: 80%;
      float: left;
    }
    .essayQuestions
    {
      width: 20%;
      float: left;
    }
  </style>
</head>
<body>
  <div class="localContainer">
    <div class="essayText">
      <%= render 'essay_sim/sameple_text' %>
    </div>
    <div class="essayQuestions"></div>
  </div>
</body>