<head>
  <style>
    .articleText
    {
      width: 60%;
      height: 100%;
      font-size: 20px;
      float: left;
      overflow: auto;
    }
    .articleQuestions
    {
      width: 40%;
      height: 800px;
      float: left;
      overflow-y: scroll;
    }
  </style>
</head>
<h3 class="text-left">Article Questioning</h3>
<div id="" class="text-left articleText">
  <p><%= render 'article_questioning/article_text' %></p>
</div>
<div class="articleQuestions">
  <%= render 'article_questioning/quiz_result_form' %>
</div>