<head>
  <style>
    .articleText
    {
      width: 60%;
      float: left;
    }
    .articleQuestions
    {
      width: 40%;
      float: left;
    }
  </style>
</head>
<body>
  <h3 class="text-left">Article Questioning</h3>
  <div class="localContainer">
    <div class="articleText text-left">
      <%= render 'article_questioning/sample_text' %>
    </div>
    <div class="articleQuestions">
      <%= render 'article_questioning/sample_questions' %>
    </div>
  </div>
</body>