<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>Hi,</p>
<br>
<p>Here are the 3 references required:</p>

<a><%=h @essay_pkg.article1 %></a>
<a><%=h @essay_pkg.article2 %></a>
<a><%=h @essay_pkg.article3 %></a>


<p>Thank you for reviewing,</p>
<p><%= @essay_pkg.userEmail %></p>


<p>This email was sent by 'German Learning' through an automated service</p>
  </body>
</html>